@font-face {
    font-family: 'shabnam';
    src: url("../fonts/Shabnam.ttf");
}
@font-face {
    font-family: 'farsi-digit';
    src: url("../fonts/Shabnam-FD.ttf");
}
.farsiDigit{
    font-family: 'farsi-digit';
}
html{
    height: 1000px;
}
*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: shabnam;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* .... swiper.... */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ........................ */
.header{
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header>a{

}
.header>a>img{
    display: block;
    width: 100px;
}
.sub-nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-wrapper{
    /*flex: 1;*/
}
.mobile{
    display: none;
}
/*........... media ............... */

@media (min-width: 992px) {
    .header .top-nav{
        padding: 20px;
        direction: rtl;
        position: relative;
        top: 10px;
    }
    .btn-register{
        position: absolute;
        left: 20px;
    }
    .sub-nav-box{
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
    .profile-box{
        color: #fff;
    }
}
/* ............................. */
.close-box{
    display: none;
}
.top-nav>li{
    width: 100px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
.top-nav>li>a{
    width: 100%;
    height: 100%;
    line-height: 30px;
    color: #ffffff;
    text-align:center;
    font-size: 14px;
}
.sub-menu{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 3px #aaa , -1px -1px 3px #aaa;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    z-index: 1;
    display: none;
}
.sub-menu>ul>li{
    width: 200px;
    height: 40px;
}
.sub-menu>ul>li>a{
    font-weight: 600;
    color: black;
    height: inherit;
    line-height: 40px;
    padding-right: 5px;
    transition: all .5s ease;
}
.sub-menu>ul>li>a:hover{
    background-color: #EC2426;
    border-radius: 10px;
}
.top-box{
    background-color: #EC2426;
    padding:200px 0 50px 0;
}
.card-box{
    position: relative;
    background-color: #fff;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.card-box>div:first-child>span{
    color: black;
    font-size: 35px;
}
.sub-card{
    padding: 10px;
    box-shadow: 1px 1px 1px lightgray,-1px -1px 1px lightgray;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    display: none;
}
/*btn*/
.btn-red{
    background-color:  #EC2426;
}
.btn-lightgrey{
    background-color: lightgray;
}
/*border-radius*/
.round-10{
    border-radius: 10px;
}
/*font*/
.font-17{
    font-size: 17px;
}
.font-22{
    font-size: 22px;
}
.font-25{
    font-size: 25px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
/*shadow*/
.shadow-grey{
    box-shadow: 1px 1px 3px grey , -1px -1px 3px grey;
}
/*width*/
.w-100{
    width: 100px;
}
.w-150{
    width: 150px;
}
.w-200{
    width: 200px;
}
.w-300{
    width: 300px;
}
.h-40{
    height: 40px;
}
.line-height-40{
    line-height: 40px;
}
.border-dash{
    border-bottom:3px dotted grey;
}
.border-right{
    border-right: 3px solid black;
}
/*color*/
.color-grey{
    color: grey;
}
/*text*/
.text-red{
    color:#EC2426;
}
.text-black{
    color: black;
}
.bg-lightgrey{
    background-color:#ccc;
}
.bg-red{
    background-color: #EC2426;
}

.line-center{
    position: relative;
}
.line-center::after{
    content: '';
    width: 52px;
    height: 3px;
    background-color: grey;
    position: absolute;
    right:0;
    top: calc(50% - 2px);
}
.main{
    position: relative;
    bottom: 100px;
    z-index: 1;
}
.category-box{
    margin-left: auto;
    margin-right: auto;
}
.cat-item{
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 7px;
    box-shadow: 1px 1px 2px #eee , -1px -1px 2px #eee;
    padding: 10px;
}
.project-item{
    position: relative;
    width: 216.66px;
    height: 368px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid green;
    transition: width 2s ease;
}
.project-item:hover{
    width:400px;
}
.bottom-0{
    bottom: 0;
}
.project-des-info{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 12px;
}
.test>h4{
    color: white;
    font-size: 16px;
    text-align: right;
}
.project-des-info1{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    font-size: 14px;
}
.project-item .project-des-info>h3{
    color:white;
    padding: 10px;
    font-size: 16px;
    writing-mode: vertical-rl;
}
.project-item .project-des-info1 h3{
    color:white;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}

.safetyTool-item{
    width: 300px;
    cursor: pointer;
    overflow: hidden;
}
.price-off{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
}
.safetyTool-pey{
    transition: all .5s ease;
}
.product-view{
    position: absolute;
    bottom: -40px;
    right:calc(50% - 80px);
    transition: all .5s ease;
}
.off-news{
 display: flex;
    align-items: center;
    justify-content: space-between;
}
/*........... media query............. */
@media (max-width: 991.98px) {
    #next , #prev{
        display: none;
    }
    .off-news{
        display: block;
        padding: 20px;
    }
    .off-news h3{
        text-align: center;
    }
    .off-news form{
        width: 300px;
        margin: 20px auto auto auto;
    }
    .off-news form input[type='text']{
        margin-bottom: 10px;
    }

    .btn-register{
        position: relative !important;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        left: 20px;
    }
    .category-box{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .logo-box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile{
        display: block;
    }
    .close-box{
        display: block;
        margin-bottom: 10px;
        direction: ltr;
        background-color: #EC2426;
    }
    .close-btn{
        display: block;
        font-size: 22px;
    }
    .nav-wrapper{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        display: none;
    }
    .nav-box{
        position: absolute;
        right:-1000px;
        top:0;
        width: 400px;
        height: 450px;
        padding:15px 7px;
        background-color: white;
        transition: all .5s ease;
    }
    .sub-nav-box{
        display: block!important;
        width: 100%;
        text-align: right;
    }
    .top-nav{
        display: block;
    }

    .top-nav,.top-nav>li,.top-nav>li>a{
        width: 100%;
    }
     .top-nav>li{
         display: block;
         height: 40px;
         margin-bottom: 5px;
     }
    .top-nav>li>a{
        width: 100%;
        height: 100%;
        line-height: 20px;
        text-align: right !important;
        color: black;
        font-size: 17px !important;
        font-weight: 600;
        padding:15px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .profile-box{
        display: block;
        color: black !important;
    }
}
/*end media query*/
.brand-item{
    margin-right: auto;
    margin-left: auto;
}
.element-item{
    width: 300px;
    height: 400px;
}
.element-item>img{
    display: block;
    width: 150px;
    height: 250px;
    margin: auto auto;
}
.social-box{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.blog-info{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,.05);
}
.brightness{
    -webkit-filter: brightness(120%) contrast(110%) saturate(115%);
}
.img-cover{
 box-shadow: 1px 1px 3px black , -1px -1px 3px black;
}
.footer-link{
    color: white;
    transition: all .5s ease;
}
.footer-link:hover{
    color: #EC2426;
}
.z-1{
    z-index: 1;
}
.pink-arrow::before{
    content: '';
    width: 30px;
    height: 100%;
    position: absolute;
    right: -16px;
    top: 2px;
    background-image: url("../images/flatico/left-triangle.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    z-index: -1;
}

.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(236, 36, 38, 0.25);
    backdrop-filter: blur(20px);
    z-index: 99;
}
.loader-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #332f2f;
}
.loader-content{
    direction: rtl;
    text-align: right;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black , -5px -5px 5px black;
    position: absolute;
    top: calc(50% - 150px);
    right: calc(50% - 150px);
    background-color: #fff;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loader-spin{
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    right: calc(50% - 75px);
    border: 12px solid rgba(0,0,0,0.4);
    border-radius: 50%;
    border-top: 12px solid #9370db;
    border-bottom: 12px solid deeppink;
    border-right: 12px solid blue;
    border-left: 12px solid green;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}